.primary_font {
  font-family: "Lato", "Verdana", sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Lato", "Verdana", sans-serif;
}
h1 {
  font-size: 5rem;
  color: white;
  font-family: "Lato", "Verdana", sans-serif;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
}
.home header {
  display: flex;
  position: fixed;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5% 2% 5%;
  font-size: 1.75rem;
  background-color: rgba(22, 172, 175, 0.75);
}
.home header img {
  width: 25%;
}
.home header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}
.home header a {
  text-decoration: none;
  color: white;
  padding: 2%;
  width: 20%;
  text-align: center;
}
.home header a:hover {
  background-color: #FBA220;
  color: white;
  border-radius: 5px;
  transition: all 0.75s ease;
}
.home .top_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../img/child2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home .top_container h1 {
  padding: 30% 0 15% 0;
}
.home .about {
  padding-top: 10px;
  height: 300px;
}
