.home {

    header {
        display: flex;
        position: fixed;
        z-index: 69;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5% 0 5%;
        font-size: 1.75rem;
        background-color: rgba(22, 172, 175, 0.75);

        img{
            width: 30%;
        }

        nav{
            display: flex;
            justify-content: space-between;;
            align-items: center;
            width: 90%;
        }

        a{
            text-decoration: none;
            color: @altwhite;
            padding: 1.5% 0 1.5% 0;
            width: 20%;
            text-align: center;
        }

        a:hover{
            background-color: rgba(251, 162, 32, 0.85);
            color: @altwhite;
            border-radius: 5px;
            transition: all .75s ease;
        }

        @media @phone{
            img {
                width: 50%;
            }
            a{
                font-size: 1.25rem;
            }
    }
}

    .top_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url('../img/child2.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        h1{
            padding: 30% 0 3% 0;
        }

        button{
            color: @altwhite;
            background-color: rgba(251, 162, 32, 0.99);
            width: 15%;
            padding: .75% 2% .75% 2%;
            margin-bottom: 15%;
            font-size: 1.75rem;
            border-radius: 5px;
            border: 2.5px solid rgba(248,248,248, 0.55);

            &:hover{
                background-color: rgba(248,248,248, 0.85);
                color: #c91918;
                border-radius: 5px;
                transition: all .75s ease;
                border: 2.5px solid rgba(201,24,38, 0.55);
    
            }
        }

        @media @phone {
            h1 {
                font-size: 4rem;
            }
            button {
                width: 20%;
            }
        }
    }

    .what{
        margin: 0 10% 0 10%;
        padding-top: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        div {
            width: 49%;
            
            img {
                padding-bottom: 5%;
                padding-left: 5%;
                border-radius: 105px;
            } 
        }

        @media @phone {
            flex-direction: column;
            margin: 0 2% 0 2%;
            padding-bottom: 5%;

            .what_text {
                padding-bottom: 5%;
            }
            
            div {
                width: 100%;
                text-align: center;

                img {
                    padding: 0;
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
    }

    .about{
        padding: 0 10% 0 10%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(247, 164, 26, 0.99);

        div {
            width: 49%;

            img {
                padding: 5% 0 5% 0;
                border-radius: 105px;
                padding-right: 5%;
            } 

            h2 {
                color: @altwhite;
            }
        }

        @media @phone {
            flex-direction: column;
            margin: 0;
            padding: 0 2% 5% 2%;

            .about_text {
                padding: 5% 0 5% 0;

            }
            
            div {
                width: 100%;
                text-align: center;

                img {
                    padding: 0;
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
    }

    address{
        text-align: center;
        padding: 2%;
        color: gray;
        font-size: 1.25rem;
    }

}