.home {

    header {
        display: flex;
        position: fixed;
        z-index: 69;
        width: 100%;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5% 0 5%;
        font-size: 1.75rem;
        background-color: rgba(22, 172, 175, 0.75);

        .nav_img{
            width: 30%;
        }

        nav{
            display: flex;
            justify-content: space-between;;
            align-items: center;
            width: 90%;
        }

        a{
            text-decoration: none;
            color: @altwhite;
            padding: 1.5% 0 1.5% 0;
            width: 20%;
            text-align: center;
        }

        a:hover{
            background-color: rgba(251, 162, 32, 0.85);
            color: @altwhite;
            border-radius: 5px;
            transition: all .75s ease;
        }

        @media @tablet{
            .nav_img {
                width: 50%;
            }
        }

        @media @phone{
            .nav_img {
                width: 80%;
            }
            a{
                font-size: 1.25rem;
            }
        }

    }

    .top_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100vw;
        background-image: url('../img/child2.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        h1{
            padding: 30% 0 3% 0;
        }

        button{
            color: @altwhite;
            background-color: rgba(251, 162, 32, 0.99);
            width: 15%;
            padding: .75% 2% .75% 2%;
            margin-bottom: 8%;
            font-size: 1.75rem;
            border-radius: 5px;
            border: 2.5px solid rgba(248,248,248, 0.55);

            &:hover{
                background-color: rgba(248,248,248, 0.85);
                color: #c91918;
                border-radius: 5px;
                transition: all .75s ease;
                border: 2.5px solid rgba(201,24,38, 0.55);
    
            }
        }

        @media @tablet {
            button {
                width: 25%;
            }
        }

        @media @phone {
            h1 {
                font-size: 4rem;
            }
            button {
                width: 20%; 
            }
        }
    }

    .what{
        margin: 0 8% 0 8%;
        padding: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .what_text {
            padding-right: 5%;
        }

        div {
            width: 49%;
            
            img {
                border-radius: 105px;
            } 
        }

        @media @phone {
            flex-direction: column;
            margin: 0 2% 0 2%;
            padding-bottom: 5%;

            .what_text {
                padding-bottom: 5%;
            }
            
            div {
                width: 100%;
                text-align: center;

                img {
                    padding: 0;
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }

        @media @tablet {
            flex-direction: column;
            margin: 0 5% 0 5%;

            div {
                width: 100%;

                img {
                    border-radius: 10px;
                    padding: 0;
                }
            }
        }
    }

    .about{
        padding: 0 10% 0 10%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(247, 164, 26, 0.99);

        div {
            width: 49%;

            img {
                padding: 5% 0 5% 0;
                border-radius: 105px;
                padding-right: 5%;
            } 

            h2 {
                color: @altwhite;
            }
        }

        @media @phone {
            flex-direction: column;
            margin: 0;
            padding: 0 2% 5% 2%;

            .about_text {
                padding: 5% 0 5% 0;
            }
            
            div {
                width: 100%;
                text-align: center;

                img {
                    padding: 0;
                    margin-bottom: 6%;
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }

        @media @tablet {
            padding: 0 7% 0 7%;
        }    
    }

    address{
        text-align: center;
        padding: 2%;
        color: gray;
        font-size: 1.25rem;
        background-color: rgba(247, 164, 26, 0.99);
    }
    * {
    
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadein 2s; /* Firefox < 16 */
            -ms-animation: fadein 2s; /* Internet Explorer */
             -o-animation: fadein 2s; /* Opera < 12.1 */
                animation: fadein 2s;
    }
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    
    /* Boucing Arrow Animation */
    @keyframes arrowbounce {
        from {
            -webkit-transform:translateY(0);
            -moz-transform:translateY(0);
            transform:translateY(0);
        }
        to {
            -webkit-transform:translateY(-20px);
            -moz-transform:translateY(-20px);
            transform:translateY(-20px);
        }
    }
    @-moz-keyframes arrowbounce {
        /* Firefox */ from {
            -webkit-transform:translateY(0);
            -moz-transform:translateY(0);
            transform:translateY(0);
        }
        to {
            -webkit-transform:translateY(-20px);
            -moz-transform:translateY(-20px);
            transform:translateY(-20px);
        }
    }
    @-webkit-keyframes arrowbounce {
        /* Safari and Chrome */ from {
            -webkit-transform:translateY(0);
            -moz-transform:translateY(0);
            transform:translateY(0);
        }
        to {
            -webkit-transform:translateY(-20px);
            -moz-transform:translateY(-20px);
            transform:translateY(-20px);
        }
    }
    @-o-keyframes arrowbounce {
        /* Opera */ from {
            -webkit-transform:translateY(0);
            -moz-transform:translateY(0);
            transform:translateY(0);
        }
        to {
            -webkit-transform:translateY(-20px);
            -moz-transform:translateY(-20px);
            transform:translateY(-20px);
        }
    }
    .scrollto {
        display:block;
        color:oldlace;
        text-decoration:none;
        width:200px;
        margin:0 auto;
        border-bottom: none;
    }
    .scrollto--arrow {
        padding:10px;
    }
    .scrollto--arrow img {
        animation:arrowbounce 1s alternate infinite;
        -moz-animation:arrowbounce 1s alternate infinite;
        /* Firefox */-webkit-animation:arrowbounce 1s alternate infinite;
        /* Safari and Chrome */-o-animation: arrowbounce 1s alternate infinite;
        /* Opera */
    }  
}

